<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="codeCleaner.Properties.Settings.codeCleanerStringConnection"
            connectionString="Data Source=173.213.224.191;Initial Catalog=DBCleaningBackup;Persist Security Info=True;User ID=datatail02;Password=datatail02" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>